@font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ELAND_Choice_L';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.start{
    width:100px;
    background-color: #f8585b;
    border-radius:10px;
    color:#fff;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: auto;
    cursor: pointer;
    border: 0;
    }
.start:hover{
    background-color: #FA8072;
}

.middle{
    position: absolute; left: 50%; top: 50%; 
    transform: translate(-50%, -50%); text-align: center;
}

body{
	font-family: 'ELAND_Choice_M';
}