@font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ELAND_Choice_L';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Y_Spotlight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ImcreSoojin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.middle{
    width: 400px;
    height: 300px;
    position: absolute;
    top: 50%; left: 50%;
    margin-left: -200px;
    margin-top: -150px;
    text-align: center;
    font-size: 15px;

}

.sign{
    position: absolute;
    top: 95%; left: 50%;
    width: 100px;
    height: 50px;
    margin-left: -50px;
    margin-top: -25px;
}

body{
        font-family: 'ImcreSoojin';
        font-size: 15px;
        

}

#align {
  white-space: nowrap;
  font-size: 0;
  text-shadow: none;
}

#align input {
  display: none;
}

#align label {
  display: inline-block;
  margin: -2px 0 0;
  font-size: 20px;
  line-height: 45px;
  color: #c1c1c1;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: #FA8072;
  border-radius: 10px;
  width: 250px;
  height: 45px;
}

#align input:checked+label {
  outline: 0;
  color: #ffffff;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #f8585b;
}

input[type="checkbox"] { display: none; }

input[type="checkbox"] + label em{
    display: inline-block; 
    width: 25px; 
    height: 25px; 
    background:url('uncheck.png') 0 0 no-repeat;
    background-size: 20px;
    vertical-align:middle;
    cursor: pointer; 
    }

input[type="checkbox"]:checked + label em{
    width: 25px; 
    height: 25px;
    background:url('check.png') 0 0 no-repeat;
    background-size: 20px; 
    }

.question{
  width: 100px;
  margin: 0 auto;
}
.chkCondition{
  
  text-align: left;
}
p{
  line-height: -1;
}

.btn{
    background-color: #ffffff;
    border-radius:10px;
    border: 3px solid;
    border-color: #FA8072;
    width: 350px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    margin: auto;
    cursor: pointer;
     font-family: 'ImcreSoojin';
        font-size: 15px;
    }
.btn:hover{
    background-color: #FA8072;
    color:#fff;
}
